.header {
	
	background:#2196f3;
	height: 100px;
	width: 100%;
}
.side {
	
	background:red;
	height: 600px;
	width:20%;
	float:left;
}

.main {
	
	background:blue;
	height: 600px;
	width:80%;
	float:left;
}
.mainWrapper{
	background:black;
	height:1000px;
	width:100%;
	
}
.footer {
	
	background:yellow;
	height:100px;
	width:100%;
	float:left;
}